<h2>All events</h2>
{{message}}
{{#each allEvents}}
  <img width="400" height="300" src="{{this.imageUrl}}" alt="event-poster" />
  <p>{{this.title}}</p>
  <p>{{this.description}}</p>
{{!-- //created by// --}}
<p>Created by {{this.owner}}</p> 
{{/each}}